@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.Text {
  font-family: "Open Sans";
}

.select {
  user-select: text;
}

.light {
  opacity: 0.6;
}

.caps {
  text-transform: uppercase;
}
