@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: 1.0s spin linear infinite;
}

.Input {
  &.flush {
    padding-left: 0;
    margin: -9px 0 -7px 0;

    &:focus-within {
      margin-bottom: -8px;
    }
  }

  &:focus-within {
    border-bottom: 1px solid var(--primary-color);
  }
}

textarea {
  padding: 0;
  margin: 0;
  font-family: var(--default-font);
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  // margin-top: -1;
  color: var(--text-color);
}
