@keyframes fadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1.0;
  }
}

@keyframes fadeOut {
  0% {
    transform: none;
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.0;
  }
}

.element {
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.element.close {
  animation-name: fadeOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
